<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.DbShopDAO">

  <select id="getCategoryMainOne" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categoryMain where categoryMainCode=#{categoryMainCode} || categoryMainName=#{categoryMainName};
  </select>
  
  <select id="getCategoryMain" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categoryMain order by categoryMainCode desc;
  </select>
  
  <select id="getCategoryMiddleOne" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categoryMiddle 
    	where categoryMainCode=#{vo.categoryMainCode} and categoryMiddleCode=#{vo.categoryMiddleCode} and categoryMiddleName=#{vo.categoryMiddleName};
  </select>
  
  <select id="getCategoryMiddle" resultType="com.spring.springGroupS.vo.DbProductVO">
    select middle.*, main.categoryMainName from categoryMiddle middle, categoryMain main
	    where middle.categoryMainCode=main.categoryMainCode
	    order by categoryMiddleCode desc;
  </select>
  
  <select id="getCategorySubOne" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categorySub 
    	where categoryMainCode = #{vo.categoryMainCode} and 
	    categoryMiddleCode = #{vo.categoryMiddleCode} and 
	    categorySubCode = #{vo.categorySubCode}
	    <!-- categorySubName = #{vo.categorySubName}; -->
  </select>
  
  <select id="getCategorySub" resultType="com.spring.springGroupS.vo.DbProductVO">
    select sub.*, main.categoryMainCode, main.categoryMainName, middle.categoryMiddleCode, middle.categoryMiddleName from categorySub sub, categoryMiddle middle, categoryMain main
	    where sub.categoryMainCode=main.categoryMainCode and sub.categoryMiddleCode=middle.categoryMiddleCode
	    order by categorySubCode desc;
  </select>
  
  <select id="getCategoryMiddleName" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categoryMiddle where categoryMainCode = #{categoryMainCode};
  </select>
  
  <select id="getCategoryProductName" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from dbProduct 
    	where categoryMainCode = #{vo.categoryMainCode} and categoryMiddleCode = #{vo.categoryMiddleCode} and categorySubCode = #{vo.categorySubCode}; 
  </select>
  
  <select id="getCategorySubName" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from categorySub where categoryMainCode = #{categoryMainCode} and categoryMiddleCode = #{categoryMiddleCode}; 
  </select>
  
  <select id="getProductMaxIdx" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from dbProduct order by idx desc limit 1;
  </select>
  
  <select id="getSubTitle" resultType="com.spring.springGroupS.vo.DbProductVO">
    select categorySubName from categorySub group by categorySubName order by categorySubName;
  </select>
  
  <select id="getDbShopList" resultType="com.spring.springGroupS.vo.DbProductVO">
    <if test='part == "전체"'>
	    <!-- select * from dbProduct order by idx desc; -->
	    select * from dbProduct <if test='mainPrice != 0'>where <![CDATA[mainPrice < #{mainPrice}]]></if> order by idx desc;
	 	</if>
	  <if test='part != "전체"'>     <!-- A01003 -->
	 		<!-- select product.*, sub.categorySubName from dbProduct product, categorySub sub 
	 		  where sub.categorySubName = #{part} and substring(product.productCode,4,3)=sub.categorySubCode order by idx desc; -->
	 		select product.*, sub.categorySubName from dbProduct product, categorySub sub 
	 		  where sub.categorySubName = #{part} and substring(product.productCode,4,3)=sub.categorySubCode <if test='mainPrice != 0'>and <![CDATA[mainPrice < #{mainPrice}]]></if> order by idx desc;
	 	</if>
  </select>
  
	<select id="getDbShopProduct" resultType="com.spring.springGroupS.vo.DbProductVO">
	  select * from dbProduct where idx = #{idx};
	</select>
	
  <select id="getDbShopOption" resultType="com.spring.springGroupS.vo.DbOptionVO">
  	select * from dbOption where productIdx = #{idx} order by idx;
  </select>
  
  <select id="getCategoryProductNameOne" resultType="com.spring.springGroupS.vo.DbProductVO">
    select * from dbProduct where productName = #{productName}; 
  </select>
  
  <select id="getCategoryProductNameOneVO" resultType="com.spring.springGroupS.vo.DbProductVO">
    select *,
      (select categoryMainName from categoryMain where categoryMainCode=#{vo.categoryMainCode}) as categoryMainName,
      (select categoryMiddleName from categoryMiddle where categoryMiddleCode=#{vo.categoryMiddleCode}) as categoryMiddleName,
      (select categorySubName from categorySub where categorySubCode=#{vo.categorySubCode}) as categorySubName
      from dbProduct where productName = #{vo.productName};
  </select>
  
  <select id="getCategoryProductNameAjax" resultType="com.spring.springGroupS.vo.DbProductVO">
  	select * from dbProduct
  		where categoryMainCode=#{categoryMainCode} and categoryMiddleCode=#{categoryMiddleCode} and categorySubCode=#{categorySubCode};
  </select>
  
  <select id="getProductInfor" resultType="com.spring.springGroupS.vo.DbProductVO">
  	select product.*,
	    (select categoryMainName from categoryMain where categoryMainCode=product.categoryMainCode) as categoryMainName,
	    (select categoryMiddleName from categoryMiddle where categoryMiddleCode=product.categoryMiddleCode) as categoryMiddleName,
	    (select categorySubName from categorySub where categorySubCode=product.categorySubCode) as categorySubName
	  	from dbProduct product, categoryMain main, categoryMiddle middle, categorySub sub
	  	where productName=#{productName} order by idx limit 1;
  </select>
  
  <select id="getOptionList" resultType="com.spring.springGroupS.vo.DbOptionVO">
  	select * from dbOption where productIdx = #{productIdx} order by optionName;
  </select>
  
  <select id="getOptionSame" resultType="int">
    select count(*) from dbOption where productIdx=#{productIdx} and optionName=#{optionName};
  </select>
  
  <select id="getDbCartProductOptionSearch" resultType="com.spring.springGroupS.vo.DbCartVO">
  	select * from dbCart where productName=#{productName} and optionName=#{optionName} and mid=#{mid};
  </select>
  
  <select id="getDbCartList" resultType="com.spring.springGroupS.vo.DbCartVO">
  	select * from dbCart where mid=#{mid} order by idx;
  </select>
  
  <select id="getOrderMaxIdx" resultType="com.spring.springGroupS.vo.DbOrderVO">
  	select max(idx) as maxIdx from dbOrder;
  </select>
  
  <select id="getCartIdx" resultType="com.spring.springGroupS.vo.DbCartVO">
  	select * from dbCart where idx = #{idx};
  </select>
  
  <select id="getTotalBaesongOrder" resultType="int">
    select orderTotalPrice from dbBaesong where orderIdx = #{orderIdx};
  </select>
  
  <select id="getOrderBaesong" resultType="com.spring.springGroupS.vo.DbBaesongVO">
    select * from dbBaesong where orderIdx = #{orderIdx};
  </select>

  <select id="getTotRecCnt" resultType="int">
    select count(*) from dbOrder o join dbBaesong b using(orderIdx) <if test="mid != '전체'"> where b.mid=#{mid} </if>
  </select>
  
  <select id="getMyOrderList" resultType="com.spring.springGroupS.vo.DbBaesongVO">
    <!-- select o.*,b.* from dbOrder o join dbBaesong b using(orderIdx) <if test="mid != '전체'"> where b.mid=#{mid} </if> order by b.idx desc limit #{startIndexNo},#{pageSize}; --> 
    <if test='mid == "전체"'>
      SELECT oder.*,baesong.* from dbOrder oder join dbBaesong baesong using(orderIdx) 
      where date(orderDate) = substring(now(),1,10) order by baesong.idx desc limit #{startIndexNo},#{pageSize};
    </if>
    <if test='mid != "전체"'>
      SELECT oder.*,baesong.* from dbOrder oder join dbBaesong baesong using(orderIdx) 
      where baesong.mid=#{mid} and date(orderDate) = substring(now(),1,10) order by baesong.idx desc limit #{startIndexNo},#{pageSize};
    </if> 
  </select>
  
  <select id="totRecCntAdminStatus" resultType="int">
    <if test="orderStatus == '전체'">
      select count(*) from dbOrder a join dbBaesong b using(orderIdx) <![CDATA[ where date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) order by orderDate desc ]]>;
    </if>
    <if test="orderStatus != '전체'">
      select count(*) from dbOrder a join dbBaesong b using(orderIdx) <![CDATA[ where date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) and b.orderStatus=#{orderStatus} order by orderDate desc ]]>;
    </if>
  </select>
  
  <select id="getAdminOrderStatus" resultType="com.spring.springGroupS.vo.DbBaesongVO">
    <if test='orderStatus == "전체"'>
      select a.*,b.* from dbOrder a join dbBaesong b using(orderIdx) <![CDATA[ where date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
    <if test='orderStatus != "전체"'>
      select a.*,b.* from dbOrder a join dbBaesong b using(orderIdx) <![CDATA[ where date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) and b.orderStatus=#{orderStatus} order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
  </select>
  
  <select id="getMyOrderStatus" resultType="com.spring.springGroupS.vo.DbBaesongVO">
    <if test="mid == '전체' and conditionOrderStatus == '전체'">
      select o.*,b.* from dbOrder o join dbBaesong b using(orderIdx) where <![CDATA[ date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
    <if test="mid == '전체' and conditionOrderStatus != '전체'">
      select o.*,b.* from dbOrder o join dbBaesong b using(orderIdx) where <![CDATA[ date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) and b.orderStatus=#{conditionOrderStatus} order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
    <if test="mid != '전체' and conditionOrderStatus == '전체'">
      select o.*,b.* from dbOrder o join dbBaesong b using(orderIdx) where b.mid = #{mid} <![CDATA[ and date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
    <if test="mid != '전체' and conditionOrderStatus != '전체'">
      select o.*,b.* from dbOrder o join dbBaesong b using(orderIdx) where b.mid = #{mid} <![CDATA[ and date(orderDate) >= date(#{startJumun}) and date(orderDate) <= date(#{endJumun}) and b.orderStatus=#{conditionOrderStatus} order by orderDate desc ]]> limit #{startIndexNo},#{pageSize};
    </if>
  </select>
  
  
  
  
  <insert id="setCategoryMainInput">
    insert into categoryMain values (#{vo.categoryMainCode},#{vo.categoryMainName});
  </insert>
  
   <insert id="setCategoryMiddleInput">
    insert into categoryMiddle values (#{vo.categoryMainCode},#{vo.categoryMiddleCode},#{vo.categoryMiddleName});
  </insert>
  
  <insert id="setCategorySubInput">
    insert into categorySub values (#{vo.categoryMainCode},#{vo.categoryMiddleCode},#{vo.categorySubCode},#{vo.categorySubName});
  </insert>
  
  <insert id="setDbProductInput">
    insert into dbProduct value (#{vo.idx},#{vo.categoryMainCode},#{vo.categoryMiddleCode},#{vo.categorySubCode},#{vo.productCode},#{vo.productName},#{vo.detail},#{vo.mainPrice},#{vo.fSName},#{vo.content});
  </insert>
  
  <insert id="setDbOptionInput">
    insert into dbOption values (default,#{vo.productIdx},#{vo.optionName},#{vo.optionPrice});
  </insert>
  
  <insert id="dbShopCartInput">
    insert into dbCart values (default,default,#{vo.mid},#{vo.productIdx},#{vo.productName},#{vo.mainPrice},#{vo.thumbImg},#{vo.optionIdx},#{vo.optionName},#{vo.optionPrice},#{vo.optionNum},#{vo.totalPrice});
  </insert>
  
  <insert id="setDbOrder">
    insert into dbOrder values (default,#{vo.orderIdx},#{vo.mid},#{vo.productIdx},default,#{vo.productName},#{vo.mainPrice},#{vo.thumbImg},#{vo.optionName},#{vo.optionPrice},#{vo.optionNum},#{vo.totalPrice});
  </insert>
  
  <insert id="setDbBaesong">
    insert into dbBaesong values (default,#{baesongVO.oIdx},#{baesongVO.orderIdx},#{baesongVO.orderTotalPrice},#{baesongVO.mid},#{baesongVO.name},#{baesongVO.address},#{baesongVO.tel},#{baesongVO.message},#{baesongVO.payment},#{baesongVO.payMethod},default);
  </insert>
  
  
  
  
  <update id="dbShopCartUpdate">
    update dbCart set optionNum=#{vo.optionNum},totalPrice=totalPrice+#{vo.totalPrice} where productName=#{vo.productName} and optionName=#{vo.optionName};
  </update>
  
  <update id="setMemberPointPlus">
    update member set point = point + #{point} where mid = #{mid};
  </update>
  
  <update id="setOrderStatusUpdate">
    update dbBaesong set orderStatus = #{orderStatus} where orderIdx = #{orderIdx};
  </update>
  
  
  
  
  <delete id="setCategoryMainDelete">
  	delete from categoryMain where categoryMainCode = #{categoryMainCode};
  </delete>
  
 	<delete id="setCategoryMiddleDelete">
	  delete from categoryMiddle where categoryMiddleCode = #{categoryMiddleCode};
	</delete>
	
	<delete id="setCategorySubDelete">
	  delete from categorySub where categorySubCode = #{categorySubCode};
	</delete>
	
  <delete id="setOptionDelete">
    delete from dbOption where idx = #{idx};
  </delete>
  
  <delete id="dbCartDelete">
  	delete from dbCart where idx = #{idx};
  </delete>
  
  <delete id="setDbCartDeleteAll">
    delete from dbCart where idx = #{cartIdx};
  </delete>
  

</mapper>